.white-bg{
  .grey-image-text__inner{
    background-color: #FFFFFF;
  }
}

.grey-image-text__inner{
  background-color: #F4F4F4;
  padding:118px 0;

  .grey-image-text__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    &.reverse{
      .image__wrapper{
        order: 2;
      }
      .content-wrapper{
        order: 1;
        padding-right: 80px;
        padding-left: 0;
    
        p{
          padding-left: 30px;
          border-left: 2px solid $color__link-hover;
        }

  
      }
    }
  }

  .image__wrapper{
    figure{
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 470px;

      img{
        @extend %cover;
        object-fit: contain;
      }
    }
  }

  .content-wrapper{
    padding-left: 80px;
    h2{
      margin-bottom: 30px;
    }

    p{
      padding-left: 30px;
      border-left: 2px solid $color__link-hover;
    }

    p + p{
      padding-top: 18px;
    }

  }
}