.investment-service__inner{
  min-height: 440px;
  display: flex;
  align-items: center;
}

.investment-service__wrapper{
  background-size: cover;
  background-repeat: no-repeat;
  padding:20px 0;

  .grid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color__bright;

    @include media('<phone-land'){
      flex-direction: column;
      align-items: flex-start;
      row-gap: 40px;
    }

    p,a,li{
      color: $color__bright;
    }

    .title{
      >h1{
        margin-bottom: 20px;
        line-height: 54px;

        @include media('<phone-land'){
          font-size: 45px;
          line-height: 50px;
        }
      }

      .subheader{
        letter-spacing: 1.8px;
        font-weight: 500;
      }
    }

    .link__wrapper{
      background-color: rgba(#192E47, 0.8);
      padding: 0 27px;
      border-radius: 5px;

      .single-link{
        padding: 27px 3px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid $color__bright;

        &:last-of-type{
          border-bottom: none;
        }
        a{
          display: inline-flex;
          align-items: center;
          font-size: 16px;
          letter-spacing: 1.6px;
          width: 72%;
          font-weight: 500;
          line-height: 22px;
          span{
            margin-right: 16px;
          }

          &:hover{
            text-decoration: underline;
          }
        }

        svg{
          path{
            stroke: $color__bright;
          }
        }
      }
    }

  }
}

